<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Форма входа</title>
    <link rel="stylesheet" href="/static/css/form_login.css">
</head>
<body>
    <div class="container">
        <div class="form-wrapper">
        <h1 class="logo">| web-scape</h1>
            <form class="form" method="post" action="/">
                <input type="text" name="login" placeholder="login" class="input-field" id="login">
                <input type="password" name="password" placeholder="password" class="input-field" id="password">
                <button type="submit" class="submit-button">enter ?</button>
            </form>
        </div>
    </div>
</body>
</html>
