<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>panel admin</title>
  <link rel="stylesheet" href="/static/css/user.css">
</head>
<body>
<div class="container">
  <!-- админ панель -->
  <div class="admin-panel">
    <h3>ADMIN</h3>
    <div class="photo-placeholder">
    </div>
    <div class="info">
      <p>name: <span>Смирнов Михаил</span></p>
      <p>login: <span>admin</span>
      <p>pass: <span>******</span></p>
      <p>email: <span>admin@mail.ru</span>
      <p>phone: <span>----</span></p>
      <p>date of reg: <span>----</span></p>
    </div>
  </div>

  <!-- центральная панель -->
  <div class="new-user-panel">
    <h3>NEW USER</h3>
    <form>
      <label for="new-login">login:</label>
      <input type="text" id="new-login" placeholder="Enter login" required>

      <label for="new-password">pass:</label>
      <input type="password" id="new-password" placeholder="Enter password" required>

      <label for="new-email">email:</label>
      <input type="email" id="new-email" placeholder="Enter email" required>

      <button type="submit">enter</button>
    </form>
  </div>

  <!-- список пользователей -->
  <div class="user-list-panel">
    <h3>USER LIST</h3>
    <div class="user-list">
      <!-- блок для отображения пользователей -->
    </div>
  </div>
</div>
</body>
</html>
