<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>panel admin</title>
  <link rel="stylesheet" href="/static/css/user.css">
</head>
<body>
<div class="container">
  <!-- админ панель -->
  <div class="admin-panel">
    <h3>ADMIN</h3>
    <div class="photo-placeholder">
    </div>
    <div class="info">
      <p>name: <span>Смирнов Михаил</span></p>
      <p>login: <span>admin</span>
      <p>pass: <span>******</span></p>
      <p>email: <span>admin@mail.ru</span>
      <p>phone: <span>----</span></p>
      <p>date of reg: <span>----</span></p>
    </div>
  </div>

  <!-- центральная панель -->
  <div class="new-user-panel">
    <h3>NEW USER</h3>
    <form action="/user/add" method="POST">
      <label for="new-username">Username:</label>
      <input type="text" id="new-username" name="username" placeholder="Enter username" required>

      <label for="new-login">Login:</label>
      <input type="text" id="new-login" name="login" placeholder="Enter login" required>

      <label for="new-password">Password:</label>
      <input type="password" id="new-password" name="password" placeholder="Enter password" required>

      <label for="new-email">Email:</label>
      <input type="email" id="new-email" name="email" placeholder="Enter email" required>

      <label for="new-roles-id">Role ID:</label>
      <input type="number" id="new-roles-id" name="roles_id" value="2" required> <!-- Установим значение по умолчанию, если это для обычных пользователей -->

      <button type="submit">Submit</button>
    </form>


  </div>

  <!-- список пользователей -->
  <div class="user-list-panel">
    <h3>USER LIST</h3>
    <div class="user-list">
      <!-- блок для отображения пользователей -->
    </div>
  </div>
</div>
</body>
</html>
