body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #222222;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #ccc;
}

.container {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.admin-panel,
.new-user-panel,
.user-list-panel {
    background-color: #333;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.user-list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    padding: 16px;
}

.user-item {
    background-color: #444;
    border: 1px solid #555;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 16px;
    width: 300px;
    text-align: left;
}

.user-item p {
    margin: 8px 0;
    color: #ccc;
}

.user-item p strong {
    color: #fff;
}

.admin-panel {
    width: 250px;
}

.photo-placeholder {
    width: 100px;
    height: 100px;
    background-color: #555;
    margin: 0 auto 10px;
    border-radius: 10px;
}

.info p {
    margin: 8px 0;
    font-size: 14px;
    color: #ccc;
}

input {
    border: 1px solid #666;
    padding: 5px;
    border-radius: 5px;
    width: 100%;
    margin: 5px 0;
    background-color: #333;
    color: #ccc;
}

input:focus {
    outline: 2px solid #555;
}

.new-user-panel {
    width: 250px;
}

.new-user-panel form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    font-size: 12px;
    color: #ccc;
}

button {
    padding: 10px;
    border: none;
    background-color: #000;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

button:hover {
    background-color: #444;
}

.user-list-panel {
    flex: 1;
}
