body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f6f4f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.admin-panel,
.new-user-panel,
.user-list-panel {
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Контейнер для списка пользователей */
.user-list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px; /* Расстояние между карточками */
    justify-content: center;
    padding: 16px;
}

/* Карточка пользователя */
.user-item {
    background-color: #fff; /* Цвет фона карточки */
    border: 1px solid #ddd; /* Граница карточки */
    border-radius: 8px; /* Скругление углов */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тень */
    padding: 16px; /* Внутренний отступ */
    width: 300px; /* Фиксированная ширина */
    text-align: left; /* Выравнивание текста */
}

/* Заголовки в карточке */
.user-item p {
    margin: 8px 0; /* Отступы между строками */
}

.user-item p strong {
    color: #333; /* Цвет для ключевых слов */
    font-weight: bold;
}

.admin-panel {
    width: 250px;
}

.photo-placeholder {
    width: 100px;
    height: 100px;
    background-color: #ddd;
    margin: 0 auto 10px;
    border-radius: 10px;
}

.info p {
    margin: 8px 0;
    font-size: 14px;
    color: #333;
}

input {
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
    width: 100%;
    margin: 5px 0;
}

input:focus {
    outline: 2px solid #555;
}

.new-user-panel {
    width: 250px;
}

.new-user-panel form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    font-size: 12px;
    color: #333;
}

button {
    padding: 10px;
    border: none;
    background-color: #000;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

button:hover {
    background-color: #444;
}

.user-list-panel {
    flex: 1;
}
